div {
    background-color: beige;
    text-align:center;
    color:blue;
    width:200px;
}
div h2{
    background-color: beige;
    text-align:center;
    color:blue;
    width:200px;
}
h2 {
    color:coral
}